<!DOCTYPE html>
<html lang="en" ng-app='dmlSPA'>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>dmlSPA</title>


	<link rel='stylesheet' href='/css/bootstrap.min.css'/>
	<link rel='stylesheet' href='/css/dmlSPA.css'/>

	<script src='/js/vendor/jquery-3.1.1.min.js' defer></script>
	<script src='/js/vendor/bootstrap.min.js' defer></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js" defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js" defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js" defer></script>

    <script src='/js/app/app.module.js' defer></script>
    <script src='/js/app/app.config.js' defer></script>
    <script src='/js/app/blog-list.module.js' defer></script>
    <script src='/js/app/blog-list.component.js' defer></script>

	<base href = "/"/>
</head>

<body>

    <blog-list></blog-list>

	<div>
	<h2 class='bigblue' ng-class="{'bigred': name, 'biggreen': name=='Dom'}"> Hello <span ng-if='name'>[[name]]</span><span ng-if='!name'>World</span> </h2>
	<input type='text' ng-model='name'/>
	</div>

</br>

	<div class='' ng-controller='blogListController'>
	<button ng-click='someClickTest()'>poke the cow</button>
	[[ title ]]
	</div>

</body>

</html>
